*{
    box-sizing: border-box;
}
body{
    background-color: #F7B3B3;
    margin: auto 0px;
    min-width: 200px;
    font-family: Inter;
}
main
{
    border-radius: 20px;
    background-color: rgb(255,255,255);
    width: 360px;
    padding: 20px 24px;
}
.container{

    min-height: 800px;
    margin: 50px 80px;
    display: block;
}
button
{
    padding: 5px;
    margin-top: 30px;
    width: 21px;
    height: 18px;
    border: 2px solid transparent;
    background-color: transparent;
    display: inline;
}
button:hover{
    background-color: #D62828;
    color: white;
    border: 2px soild black;  
}
h1{
    color: black;
    font-size: 32px;
    line-height: 39px;
    font-weight: 600px;
    text-align: left;
}
.main.input
{
    padding: 15px;
    width: 316px;
    height: 44px;
    border-radius: 12px;
    background-color: rgb(239, 239, 239);
}
#id
{
    background-color: rgb(239, 239, 239);
    border-radius: 20px;
}
.category{
    width: 360px;
    height: 800px;
    top: -510px;
    left -594px;
    border-radius 20px;
}
.category_item
{
     color: gray;
}
.img_block
{
    padding-top: 15px;
    width: 74px;
    height: 74px;
    text-align: center;

}
h4
{
    text-align: center;
}
.category_item .img_block
{
    background-color: gray;
    height: 74px;

}
.category_item.active
{
    color: black;
}
.category_item .img_block
{
    color: rgb(255, 181, 44);
    background: rgb(234, 226, 183);
}
.product_title
{
    width: 39px;
    height: 19px;
    left: 41px;
    top: 320px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
h3
{
     width: 65px;
     height: 24px;
     left: 24px;
     top: 371px;
}
.product_card
{
    
}
.product_image
{
 border-radius: 10px;
 box-shadow: 0px 0px 4px 0px rgb(230, 230, 230);
 background: rgb(255, 255, 255);
 display: inline-block;

}
.product_info
{
   
}
.product_image .product_info
{
    display: inline-block;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgb(230, 230, 230);
    background: rgb(255, 255, 255);
}
.product_info
{
    color: rgb(0, 48, 73);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}
.price
{
    color: red;
}
